<mat-expansion-panel hideToggle class="panel">
    <mat-expansion-panel-header class="header">HTML Basics</mat-expansion-panel-header>
    <ol>
        <li>What is HTML?</li>
        <p>HTML stands for HyperText Markup Language.</p>
        <p>HTML is the standard markup language to create the static web pages.</p>
        <p>HTML contains the series of elements. These elements tells to the browser how to display the content.</p>
        <li>What are the basic HTML elements?</li>
        <p><b>&lt;!DOCTYPE html&gt; ----- </b> is instruct to the browser about the version of the html document.</p>
        <p><b>&lt;html&gt; ----- </b> is the root element of the html document the entire code enclosed inside this element.</p>
        <p><b>&lt;head&gt;</b> ----- this element contains all the meta information which is useful to load the html document on to the browser.</p>
        <p><b>&lt;title&gt; ----- </b> this element is used to define the tile to the html document and which appear on the browser tab.</p>
        <p><b>&lt;body&gt; ----- </b> this element contains all the content which is visible to the user on the web page.</p>
        <li>What is html element?</li>
        <p>HTML element istruct the browser how to display the content on web page.</p>
        <p>the HTML element contains <b>start tag, content, end tag</b>. Some of the HTML elements doesn't have content and end tag these type of elements are called empty elements or void elements.</p>
        <li>What is the tag in HTML?</li>
        <p>The tag provides the meaningfull name to the HTML element. Based on the tag names the elemnts are differentiated to display html content onto the web page.</p>
        <li>What are the attributes in HTML?</li>
        <p>All HTML elements have attribute and these attributes provides the additional information about the HTML element.</p>
        <p>Attributes always specified in the start tag as name value pairs.</p>
    </ol>
</mat-expansion-panel>