<mat-expansion-panel hideToggle class="panel">
    <mat-expansion-panel-header class="header">HTML Headings</mat-expansion-panel-header>
    <ol>
        <li>Why we will use heading elements in HTML?</li>
        <p>The headings are used to define titles or sub titles that you want to display on web pages.</p>
        <p>HTML headings are defined with the &lt;h1&gt; to &lt;h6&gt; tags. The &lt;h1&gt; defines the most imortant heading and the &lt;h6&gt;defines the least important heading.</p>
        <p>Browsers automatically adds the some margin before and after the heading.</p>
    </ol>

    <h1>h1 ----- is the most important heading.</h1>
    <h2>h2 ----- is the second important heading.</h2>
    <h3>h3 ----- is the third important heading.</h3>
     <h4>h4 ----- is the fourth important heading.</h4>
    <h5>h5 ----- is the fifth important heading.</h5>
    <h6>h6 ----- is the least important heading.</h6>
</mat-expansion-panel>